<header id="header">
  <div class="row">
    <div class="col-md-5 col-sm-5">
      <a
        href="http://localhost:4200/home" 
        routerLink="/home"
        class="logo"
        id="logo"
      >
        <img class="img-fluid" [src]="logo" alt="logo" />
      </a>
      <div class="col-md-7 col-sm-7 user-menu">
        <a href="https://wwww.facebook.com/" target="_blank">
          <img
            width="23"
            height="23"
            src="https://img.icons8.com/material-outlined/24/facebook-f.png"
            alt="facebook-f"
          />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img
            class="img-fluid insta-logo"
            width="24"
            height="24"
            src="https://img.icons8.com/fluency-systems-regular/50/instagram-new--v1.png"
            alt="logo"
          />
        </a>
      </div>
    </div>
  </div>
</header>
